<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <%for(var i in account){
    %>
    <p><%=account[i]%></p>
    <%
  }%>
  <img src="<%=account.photo%>"/>
  </body>
</html>
