<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else if (response.status === 'not_authorized') {
            alert('올바르지 않은 계정');
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1340268862679836',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });


        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
        FB.api('/me', {locale: 'ko_KR', fields: 'name, email, picture'}, function (response) {
            if(response.name){

                $.ajax({
                    method: "POST",
                    url: "/login",
                    data: {name: response.name, photo: response.picture.data.url, email: response.email}
                })
                        .done(function (response) {
                            if(response.result){
                                location.href = "/";

                            }
                        });
            }

        });
    }
</script>




</body>
</html>