<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bolt - Free Bootstrap 3 Theme</title>

    <%include static/css.html%>

    <link href="/css/index.css" rel="stylesheet">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <%include addon/header%>


	<div id="hello">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>Bolt Theme</h1>
	    			<h2>FREE BOOTSTRAP THEMES</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /hello -->
	
	<div id="green">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 centered">
					<img src="/img/iphone.png" alt="">
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT WE CAN DO?</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row centered mt grid">
			<h3>OUR LATEST WORK</h3>
			<div class="mt"></div>
			<div class="col-lg-4">
				<a href="#"><img src="/img/01.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/img/02.jpg" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="/img/03.jpg" alt=""></a>
			</div>
		</div>
		

		<div class="row mt centered">
			<div class="col-lg-7 col-lg-offset-1 mt">
					<p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			</div>
			
			<div class="col-lg-3 mt">
				<p><button type="button" class="btn btn-theme btn-lg">Email Me!</button></p>
			</div>
		</div>
	</div>


	<div id="skills">
		<div class="container">
			<div class="row centered">
				<h3>OUR SKILLS</h3>
				<div class="image-wrap"><img src="/img/01.jpg" alt=""></div>
				<div class="descrip-wrap">설명문이 들어갈 영역 설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역설명문이 들어갈 영역</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /skills -->

	<div id="gallery">
		<div class="container">
			<div class="row centered">
				<h3>OUR PHOTOS</h3>
				<div class="image-wrap col-md-6"><img src="/img/01.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/02.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/03.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/01.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/02.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/03.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/01.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/02.jpg" alt=""></div>
				<div class="image-wrap col-md-6"><img src="/img/03.jpg" alt=""></div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /skills -->

	<section id="contact"></section>
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="col-md-3">
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-dribbble"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /social -->




	<%include addon/footer%>
	<%include static/js.html%>
  </body>
</html>
