<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bolt - Free Bootstrap 3 Theme</title>

    <% include ../addon/css.html %>



</head>

<body>


<div class="body-wrap">
    <div id="input">

        <form name="bolt-form" method="post" action="/input">
            <div class="input-wrap">
                <h1>가입 페이지</h1>

                <div class="input-group">
                    <span class="input-group-addon">이름</span>
                    <input type="text" class="form-control" placeholder="Username" name="name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">이메일</span>
                    <input type="email" class="form-control" name="email" placeholder="email">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">나이</span>
                    <input type="number" class="form-control" name="age" max="99" min="1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">생일</span>
                    <input type="date" class="form-control" name="birth" placeholder="생일">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">암호코드</span>
                    <input type="password" name="passcode" class="form-control">
                </div>
                <div class="area-warp">
                    <textarea class="form-control" placeholder="자기소개" rows="3" name="introduction"></textarea>
                </div>
                <hr>
                <div class="check-wrap">
                    <span>체크박스</span>
                    <div class="row">
                        <div class="col-md-4 ">
                            <input type="checkbox" name="check" value="1">메일 수신 동의
                        </div>
                        <div class="col-md-4 ">
                            <input type="checkbox" name="check" value="2">SMS 수신 동의
                        </div>
                    </div>
                </div>

                <div class="radio-wrap">
                    <span>통신사</span>
                    <div class="row">
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="1">SKT
                        </div>
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="2">KT
                        </div>
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="3">LG U+
                        </div>
                    </div>
                </div>
                <hr>
                <div class="select-warp">
                    <span>거주지역</span>
                    <select name="area" class="dropdown">
                        <option>서울</option>
                        <option>경기</option>
                        <option>전라</option>
                        <option>경상</option>
                    </select>
                </div>
<hr>
                <input type="file" name="profile">

            <button type="submit" class="btn-sm btn  btn-primary " style="float: right">등록</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
