<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bolt - Free Bootstrap 3 Theme</title>

    <% include static/css.html %>

    <link href="/css/input.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<% include addon/header %>

<div class="body-wrap">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
            <th>나이</th>
            <th>생일</th>
            <th>소개</th>

        </tr>
        </thead>
        <tbody>
        <%for(var i in list){
            var item = list[i];
        %>
        <tr>
            <td><%=item.name%></td>
            <td><%=item.email%></td>
            <td><%=item.age%></td>
            <td><%=item.birth%></td>
            <td><%=item.introduction%></td>
        </tr>
        <%}%>



        </tbody>
    </table>
</div>

<% include addon/footer %>
<% include static/js.html %>
</body>
</html>
