<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bolt - Free Bootstrap 3 Theme</title>

    <% include static/css.html %>

    <link href="/css/input.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<% include addon/header %>

<div class="body-wrap">
    <div id="input">
            <div class="input-wrap">
                <div class="input-group">
                    <span class="input-group-addon">이름 : <%=body.name%></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">이메일 : <%=body.email%></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">나이 : <%=body.age%></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">생일 : <%=body.birth%></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">암호코드 : <%=body.passcode%></span>
                </div>
                <div class="area-warp">
                    <span class="input-group-addon"><%=body.introduction%></span>
                </div>
                <div class="check-wrap">
                    <span>체크박스</span>
                    <div class="row">
                        <%
                        if(body.check){

                        for(var i=0; i<body.check.length;i++){
                            var checkItem = body.check[i];
                            %>
                        <span><%=checkItem%></span>
                        <%
                        }
                        }
                        %>
                    </div>
                </div>

                <div class="radio-wrap">
                    <span>통신사 : <%=body.radio%></span>
                </div>
                <div class="select-warp">
                    <span>거주지역 : <%=body.area%></span>

                </div>
            </div>
    </div>
</div>

<% include addon/footer %>
<% include static/js.html %>
</body>
</html>
