<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bucketlist</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
<div id="bucketlist">
    <h1><a href="/">MAMANG</a></h1>
    THE ONLY ONE BUCKETLIST IN THE WORLD<br/>
    ID's 버킷리스트<br/>
    <input type="text" name="item_list" placeholder="Add your bucket♥">
    <button id="bt">+</button>
    <% for (var i = 0; i < list.length; i++){
        var item = list[i]; %>
    <div class="wish-wrap">
        <span><%= item.name %></span>
        <button id="btt-<%= item.idx %>" class="remove-btn">-</button>
    </div>
    <% } %>

    <!-- for문=바로 페이지 뜨기 전에 DB불러와지는거 -->

</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/addlist.js"></script>
</html>