<!DOCTYPE html>
<html lang="en">
<head>
    <title>MAMANG</title>
</head>

<body>
<div class="body-wrap">
    <div id="input">

        <form name="bolt-form" method="post" action="/input">
            <div class="input-wrap">
                <h1>MAMANG</h1>

                <div class="input-group">
                    <span class="input-group-addon">아이디</span>
                    <input type="text" class="form-control" placeholder="ID" name="아이디">

                </div>
                <div class="input-group">
                    <span class="input-group-addon">비밀번호</span>
                    <input type="password" class="form-control" name="비밀번호" placeholder="PASSWORD">
                </div>
                <hr>
                <button type="submit" class="btn-sm btn  btn-primary " style="float: right">LOGIN</button>
                <button type="submit" class="btn-sm btn  btn-primary " style="float: right">JOIN</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>