<!DOCTYPE html>
<html lang="en">
<head>
    <title>MAMANG</title>
</head>

<body>
<div class="body-wrap">
    <div id="input">

        <form name="bolt-form" method="post" action="/input">
            <div class="input-wrap">
                <h1>MAMANG</h1>

                <div class="input-group">
                    <span class="input-group-addon">아이디</span>
                    <input type="text" class="form-control" placeholder="ID" name="아이디">
                    <button type="submit" class="btn" style="float: right">중복확인</button>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">비밀번호</span>
                    <input type="password" class="form-control" name="비밀번호" placeholder="PASSWORD">
                    <br/>
                    <span class="input-group-addon">비밀번호확인</span>
                    <input type="password" class="form-control" name="비밀번호" placeholder="PASSWARD">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">생일</span>
                    <input type="date" class="form-control" name="birth" placeholder="생일">
                <div class="input-group">
                    <span class="input-group-addon">전화번호</span>
                    <input type="number" class="form-control" placeholder="ex)000-0000-0000" name="phonenumber">
                    <button type="submit" class="btn" style="float: right">본인확인</button>
                </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">암호정보</span>
                    <input type="password" name="passcode" class="form-control">
                </div>

                <hr>
                <div class="check-wrap">

                    <span>수신동의</span>
                    <div class="row">
                        <div class="col-md-4 ">
                            <input type="checkbox" name="check" value="1">메일 수신 동의
                        </div>
                        <div class="col-md-4 ">
                            <input type="checkbox" name="check" value="2">SMS 수신 동의
                        </div>
                    </div>
                </div>
                <div class="radio-wrap">
                    <span>통신사</span>
                    <div class="row">
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="1">SKT
                        </div>
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="2">KT
                        </div>
                        <div class="col-md-4 ">
                            <input type="radio" name="radio" value="3">LG U+
                        </div>
                    </div>
                </div>
                <hr>
                <div class="select-warp">
                    <span>거주지역</span>
                    <select name="area" class="dropdown">
                        <option>서울</option>
                        <option>경기</option>
                        <option>전라</option>
                        <option>경상</option>
                    </select>
                    <div class="input-group">
                        <span class="input-group-addon">주소</span>
                        <input type="text" name="address" class="form-control"><br/>
                        <span class="input-group-addon">상세주소</span>
                        <input type="text" name="address" class="form-control">
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn-sm btn  btn-primary " style="float: right">가입하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>