<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <%include ../addon/css.html%>

</head>
<body>


<table class="table  table-striped">
    <thead class="thead-default">
    <tr>
        <th>##</th>
        <th>title</th>
        <th>major</th>
        <th>posted date</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < boardList.length;i++){
        var item = boardList[i]; %>

        <tr>

            <th scope="row">
                <%= item.idx %>
            </th>
            <td>
                <a href="/yh/item/<%= item.idx %>">

                <%= item.title %>
                </a>

            </td>
            <td><%= item.major %></td>
            <td><%= item.create_date %></td>
        </tr>

    <% }
    %>

    </tbody>


</table>



<div class="text-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <%
        var recentIdx =start/size;
        for(var i = start/size -3 ; i<=maxSize/size; i++){
            if(i<0){%><%
                continue;
            }%>
        <li class="page-item"><a class="page-link <%=recentIdx===i ? " bg-blue":""%>" href="/yh?start=<%=i*size%>"><%=i+1%></a></li>

        <%}%>

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-wrap float-right">
    <a class="btn btn-primary" href="/yh/write">글 작성</a>
</div>

</body>
</html>