<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%include ../addon/css.html%>

</head>
<body>

<div class="ui card" style="margin: auto; ">

    <div class="content">
        <div class="header"><%=article.title%> - <%=article.create_date%></div>
    </div>
    <div class="content">
        <h4 class="ui sub header"></h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <%=article.article%>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="extra content text-right">
        <a class="btn btn-info text-white " href="/yh">목록으로</a>
        <a class="btn btn-danger text-white " href="/yh/delete/<%=article.idx%>">삭제하기</a>
    </div>
</div>

</body>
</html>
