<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%include ../addon/css.html%>

</head>
<body>
<form name="bolt-form" method="post" action="/yh">
    <div class="input-wrap">
        <h1>게시글 작성</h1>

        <div class="input-group">
            <span class="input-group-addon">글 제목</span>
            <input type="text" class="form-control" placeholder="title" name="title">
        </div>
        <div class="input-group">
            <span class="input-group-addon">글 내용</span>
            <input type="text" class="form-control" name="article" placeholder="article">
        </div>

        <hr>
        <div class="select-warp">
            <span>거주지역</span>
            <select name="major" class="dropdown">
                <option value="idst">공과대학</option>
                <option value="agri">농업대학</option>
                <option value="tchr">사범대학</option>
            </select>
        </div>
        <hr>
        <button type="submit" class="btn-sm btn  btn-primary " style="float: right">등록</button>
    </div>
</form>
</body>
</html>