<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-bolt"></i></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
                <li class="active"><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>