#skills{
    background-color: darkcyan;
}

#skills .image-wrap{
    width: 30%;
    float: left;
}
.descrip-wrap{
    width: 70%;
    float: left;
    padding-left: 100px;
}

#gallery{
    background-color: #4e4e4e;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
