.body-wrap{
    padding: 20px 30px 0;
}
#input{
    margin-top: 40px;
}
#input .input-wrap{
    width: 50%;
    margin: auto;
}
#input .radio-wrap{
    width: 100%;
}
#input .check-wrap, #input .radio-wrap, #input .input-group, #input .area-warp{
    margin-top: 20px;
}

