<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>갤러리 입니다</title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/node-sample-app.css' />

</head>
<body>

<div>
    <h2 class="text-center">아이유의 앨범을 되짚어 봅니다</h2>
    <ul>
        <%for(var i= 0; i< img_list.length; i++){
        var img_url = img_list[i];
        %>
        <li class="col-md-4">
            <p>이미지!!</p>
            <img src="<%=img_url%>">
        </li>
        <%}%>
    </ul>
</div>

</body>
</html>