<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/node-sample-app.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>순서대로 번호 부를게요~</h3>
    #################################################

    <%include addon/header%>


    <%for (var i=0; i< list.length; i++) {
    var number = i;%>

    <p>반갑습니다 <%=number%>번입니다</p>
    <p>제 이름은 <%=list[i]%></p>
    </br>
    <%}%>

    #################################################

  <%if (name ==="rupert"){%>
    <p>welcome to our home, <%=name%></p>
    <img src="/images/iu.jpg">
    </br>

  <%}else{%>
    <p>you aren't included to list, <%=name%></p>

  <%}%>
    #################################################
  </body>
</html>
